.contact-info.hide {
    display: none;
}
.contact-info.show {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
}
.receipt {
    padding: 4rem 3rem 4rem 3rem;
}
