.contact-info.hide {
    display: none;
}
.contact-info.show {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
}
.receipt {
    padding: 4rem 3rem 4rem 3rem;
}

.divider {
    border: 1px solid #303036;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.web-tabs {
    background-color: #e57544;
}
.web-tabs a {
    color: rgba(255, 255, 255, 0.651);
}
.web-tabs a.nav-link.active,
.web-tabs a:hover {
    background-color: transparent;
    color: white;
}
.rent-button {
    background-color: rgb(47, 178, 226);
    color: white;
    border: 1px solid rgb(26, 113, 145);
    border-radius: 5px;
}
.rent-button:hover,
.rent-button:focus {
    border: 1px solid #303036;
}
.home-page.jumbotron {
    background: rgba(128, 128, 128, 0.123);
}
p.error-msg {
    color: red;
}
p.error-msg.hide {
    display: none;
}

.form-row {
    margin-top: 1.5rem;
}
