.contact-info.hide {
    display: none;
}
.contact-info {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
}
.receipt {
    padding: 4rem 3rem 4rem 3rem;
}

.divider {
    border: 1px solid #303036;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.web-tabs {
    background-color: #e57544;
}
.web-tabs a {
    color: rgba(255, 255, 255, 0.651);
}
.web-tabs a.nav-link.active,
.web-tabs a:hover {
    background-color: transparent;
    color: white;
}
.rent-button {
    background-color: rgb(47, 178, 226);
    color: white;
    border: 1px solid rgb(26, 113, 145);
    border-radius: 5px;
}
.rent-button:hover,
.rent-button:focus {
    border: 1px solid #27272c;

}
.rent-button:disabled {
    background-color: rgba(47, 178, 226, 0.452);
    color: rgba(0, 0, 0, 0.404);
    border: 1px solid rgba(26, 113, 145, 0.74);
}
.home-page.jumbotron {
    background: rgba(128, 128, 128, 0.123);
}
p.error-msg {
    color: red;
}
p.error-msg.hide {
    display: none;
}

.form-row {
    margin-top: 1.5rem;
}

button.submit {
    background-color: #F4D35E;
    border: 1px solid rgb(209, 181, 78);
    border-radius: 5px;

}
button.submit:hover {
    border-color: rgb(133, 112, 36);
}
input:invalid {
    border: 1px solid rgb(238, 0, 0)
}